<nav class="nav-top">
    <ul class="navigation-menu">
        <li class="nav-menu-item about">
            <a href="localhost:9000/about">About</a>
        </li>
        <li class="nav-menu-item skills">
            <a href="localhost:9000/skills">Skills</a>
        </li>
        <li class="nav-menu-item logo-container">
            <a href="localhost:9000/" class="logo"></a>
        </li>
        <li class="nav-menu-item projects">
            <a href="localhost:9000/projects">Projects</a>
        </li>
        <li class="nav-menu-item contact">
            <a href="localhost:9000/contact">Contact</a>
        </li>
    </ul>
</nav>
<script src="./views/navigation-menu/navigationMenu.js"></script>