nav {
    &.nav-bottom {
        height: 75px;
        box-shadow: 0 -5px 12px 2px #999999;
    }

    ul.footer-menu {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        list-style-type: none;
        width: fit-content;
        margin-top: 0;
        padding-left: 0;

        li.footer-item {
            width: fit-content;
            height: fit-content;
            text-align: center;

            &.arrow-container {
                display: flex;
                justify-content: center;

                &:hover {
                    @include selected-animation($animation-std-time, arrow-footer-animation);
                    animation-iteration-count: infinite;
                }
            }

            a {
                display: block;
                text-decoration: none;
                color: #000;
                text-shadow: 0px 3px 4px #555;

                &.footer-arrow {
                    width: 7rem;
                    height: 5.5rem;
                    background-image: url("../../assets/arrow-up.png");
                    background-repeat: no-repeat;
                    background-size: cover;
                }
            }
            p {
                text-decoration: none;
                color: #000;
                text-shadow: 0px 3px 4px #555;
                margin: 0;
            }
        }
    }
}

@keyframes arrow-footer-animation {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-0.75rem);
    }
    100% {
        transform: translateY(0);
    }
}