<section id="projects-container">
    <div class="projects-info">
        <p class="projects-header">Private Projects</p>
    </div>
    <div class="projects-main-container">
        <div class="projects-grid">
            <div class="projects-grid-row">
                <div class="projects-grid-row-element gulp-el">
                    <p class="projects-grid-row-element-title">
                        Gulp ready to use Task Runner Tool
                    </p>
                    <div class="projects-grid-row-element-content gulp-runner">
                    </div>
                </div>
                <div class="projects-grid-row-element jsQuiz-el">
                    <p class="projects-grid-row-element-title">
                        JavaScript Quiz Project (in VueJS)
                    </p>
                    <div class="projects-grid-row-element-content js-quiz">
                    </div>
                </div>
            </div>
            <div class="projects-grid-row">
                <div class="projects-grid-row-element tennis-site-el">
                    <p class="projects-grid-row-element-title">
                        Tennis Info Site (in Angular and in VueJS)
                    </p>
                    <div class="projects-grid-row-element-content tennis-site">
                    </div>
                </div>
                <div class="projects-grid-row-element clarity-validator-el">
                    <p class="projects-grid-row-element-title">
                        Clarity Design Systems Password Validator
                    </p>
                    <div class="projects-grid-row-element-content clarity-validator">
                    </div>
                </div>
            </div>
        </ul>
    </div>
</section>
<script src="./views/projects/projects.js"></script>