<section id="projects-container">
    <div class="projects-info">
        <p class="projects-header">Private Projects</p>
    </div>
    <div class="projects-main-container">
        <ul class="projects-list">
            <li class="projects-list-element">
                <p class="projects-list-element-title">
                    Gulp ready to use Task Runner Tool
                </p>
                <p class="projects-list-element-content">

                </p>
            </li>
            <li class="projects-list-element">
                <p class="projects-list-element-title">
                    JavaScript Quiz Project (in VueJS)
                </p>
                <p class="projects-list-element-content">
                    
                </p>
            </li>
            <li class="projects-list-element">
                <p class="projects-list-element-title">
                    Tennis Info Site (in Angular)
                </p>
                <p class="projects-list-element-content">
                    
                </p>
            </li>
            <li class="projects-list-element">
                <p class="projects-list-element-title">
                    Tennis Info Site (in VueJS)
                </p>
                <p class="projects-list-element-content">
                    
                </p>
            </li>
        </ul>
    </div>
</section>
<script src="./views/projects/projects.js"></script>