<section id="contact-container">
    <div class="contact-info">
        <p class="contact-header">Contact</p>
        <p class="contact-text">Krzysztof Janosz</p>
        <p class="contact-text">Bielsko-Biala, Silesian District</p>
        <div class="contact-icons-box">
            <div class="contact-icon"></div>
            <div class="contact-icon"></div>
            <div class="contact-icon"></div>
            <div class="contact-icon"></div>
        </div>
    </div>
</section>
<script src="./views/contact/contact.js"></script>