@mixin icon-specific($url) {
    background-image: url($url);
    background-repeat: no-repeat;
    background-size: cover;
    box-shadow: #333333 1px 1px 2px;

    &:hover {
        transform: translate(2px, 2px);
        cursor: pointer
    }
}

section#contact-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    @include selected-animation($animation-std-time, option-slide-in);
    
    .contact-info {
        display: flex;
        flex-direction: column;
        justify-content: center;

        p.contact-header {
            text-align: center;
            font-style: oblique;
            font-size: 3.6rem;
            margin-top: 0;
            color: #000;
            text-shadow: 0 10px 10px #000, 0 -2px 1px #000;
        }

        p.contact-text {
            text-align: center;
            font-weight: 500;
            font-size: 3rem;
            color: #f1ebe5;
            text-shadow: 0 10px 10px #000, 0 -2px 1px #000;
            text-align: center;
            padding: 0 4rem;
            margin-top: 0;
        }
    
        .contact-icons-box {
            display: flex;
            justify-content: space-evenly;
            margin-top: 3rem;
    
            a {
                .contact-icon {
                    width: 4rem;
                    height: 4rem;
        
                    &.msg {
                        @include icon-specific("../../assets/msg-icon.png");
                    }
            
                    &.fb {
                        @include icon-specific("../../assets/fb-icon.png");
                    }
            
                    &.linkedin {
                        @include icon-specific("../../assets/linkedin-icon.png");
                    }
            
                    &.gh {
                        @include icon-specific("../../assets/github-icon.png");
                    }
                }
            }
        }
    }
}

@include option-slide-in-anim();

@media screen and (max-width: 480px) {
    section#contact-container .contact-info p.contact-text {
        font-size: 2rem;
    }
}
