section#about-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    @include selected-animation($animation-std-time, option-slide-in);

    .about-info {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;

        .about-img {
            position: relative;
            width: 60rem;
            height: 30rem;
            background-image: url("../../assets/dev.jpg");
            background-repeat: no-repeat;
            background-size: cover;
            border: 2px solid #000;
            @include selected-animation($animation-std-time, img-about-main-animation);
    
            &.front{
                background-image: url("../../assets/front.jpg");
                @include selected-animation($animation-std-time, img-about-desc-animation);
            }
    
            &.tennis-player{
                background-image: url("../../assets/tennis_player.jpg");
                @include selected-animation($animation-std-time, img-about-desc-animation)
            }
    
            &.family{
                background-image: url("../../assets/family.jpg");
                @include selected-animation($animation-std-time, img-about-desc-animation);
            }
        }
    
        .about-note {
            .details-container {
                p.about-details-header {
                    text-align: center;
                    font-style: oblique;
                    font-size: 3.6rem;
                    text-shadow: #c67b70 4px 3px 2px;
                    color: #000;
                }
                p.about-details {
                    text-align: center;
                    font-style: oblique;
                    font-size: 2.4rem;
                    text-shadow: #c67b70 4px 3px 2px;
                    text-align: center;
                    padding: 0 4rem;
                }
            }
        }
    }
    
    .about-selection {
        display: flex;
        flex-direction: column;
        width: 100rem;
        justify-content: center;

        .about-desc {
            display: flex;
            flex-direction: row;
            justify-content: space-around;
            align-items: center;
            margin-top: 3rem;
            line-height: 80px;
            color: #f1ebe5;
            text-shadow: 0 10px 10px #ff5e00;

            .job-desc {
                font-size: 2.6rem;
            }

            .hobby-desc, .family-desc {
                font-size: 2rem;
            }

            .job-desc, .hobby-desc, .family-desc {
                width: 23rem;
                text-align: center;

                &:hover {
                    text-shadow: #f2f450 3px 1px 3px;
                }
            }
        }
    }
}

@keyframes img-about-desc-animation {
    0% {
        opacity: 0;
        left: -15rem;
    }
    100% {
        opacity: 1;
        left: 0;
    }
}

@keyframes img-about-main-animation {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@include option-slide-in-anim();