html {
  font-size: 10px; }

html, body {
  margin: 0;
  padding: 0; }

body {
  overflow: hidden;
  font-family: Nunito, "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 2rem;
  color: #000;
  min-height: 100%; }

*,
*:before,
*:after {
  box-sizing: border-box;
  font-family: Nunito, "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #000; }

footer, header {
  height: 10%; }

#main-background {
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  height: 100%;
  background-image: url("../assets/tennis.jpg"), -webkit-linear-gradient(-180deg, #000000 0%, #1E1E1E 100%);
  background-image: url("../assets/tennis.jpg"), -moz-linear-gradient(-180deg, #000000 0%, #1E1E1E 100%);
  background-image: url("../assets/tennis.jpg"), linear-gradient(-180deg, #000000 0%, #1E1E1E 100%);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 0px 0px;
  opacity: 0.7;
  z-index: -1; }

#main-content {
  display: flex;
  justify-content: center;
  align-items: center;
  height: calc(100vh - 75px);
  box-sizing: border-box;
  font-size: 2.2rem; }

nav {
  display: flex;
  justify-content: center;
  background: linear-gradient(to right, #e2e2e2, #999999); }
  nav.nav-top {
    box-shadow: 0 5px 12px 2px #999999;
    position: fixed;
    width: 100%;
    height: 75px; }
    nav.nav-top .menu-dropdown {
      display: flex;
      visibility: hidden;
      position: absolute;
      top: 75px;
      left: 0;
      width: 180px;
      height: calc(100vh - 150px);
      border-radius: 5px;
      box-shadow: 0 5px 12px 2px #999999;
      background: linear-gradient(to right, #e2e2e2, #999999);
      transform: translate(-200px);
      transition: all 0.5s ease-out; }
      nav.nav-top .menu-dropdown.show {
        visibility: visible;
        transform: translate(0);
        transition: all 0.5s ease-out; }
      nav.nav-top .menu-dropdown-list {
        list-style-type: none; }
        nav.nav-top .menu-dropdown-list-element {
          margin-bottom: 2rem; }
          nav.nav-top .menu-dropdown-list-element:last-child {
            margin-bottom: 0; }
          nav.nav-top .menu-dropdown-list-element a {
            display: inline-block;
            position: relative;
            font-size: 2rem;
            text-transform: uppercase;
            padding: 1rem 0;
            font-weight: 500;
            text-decoration: none;
            text-shadow: #f5f5f5 3px 3px 5px; }
            nav.nav-top .menu-dropdown-list-element a:hover {
              color: #e28000; }
    nav.nav-top .field-transparent {
      display: block;
      position: absolute;
      top: 75px;
      left: 180px;
      transform: translate(calc(100vw - 180px));
      transition: all 0.5s ease-out;
      height: calc(100vh - 150px);
      width: calc(100vw - 180px);
      background-color: #000;
      opacity: 0.6; }
      nav.nav-top .field-transparent.show {
        transform: translate(0);
        transition: all 0.5s ease-out; }
  nav .menu-btn {
    display: none; }
  nav ul.navigation-menu {
    display: flex;
    flex-direction: row;
    align-items: center;
    list-style-type: none;
    width: fit-content; }
    nav ul.navigation-menu li.nav-menu-item {
      width: 15rem;
      height: fit-content;
      text-align: center;
      transition-duration: 1s; }
      nav ul.navigation-menu li.nav-menu-item:hover {
        transform: scale(1.25) rotate(-4deg); }
      nav ul.navigation-menu li.nav-menu-item.logo-container {
        display: flex;
        justify-content: center; }
        nav ul.navigation-menu li.nav-menu-item.logo-container:hover {
          transform: scale(1.15); }
      nav ul.navigation-menu li.nav-menu-item a {
        text-decoration: none;
        color: #000;
        text-shadow: 0px 3px 4px #555; }
        nav ul.navigation-menu li.nav-menu-item a.logo {
          width: 7.2rem;
          height: 7.2rem;
          background-image: url("../../assets/KJ_logo.png");
          background-repeat: no-repeat;
          background-size: cover; }

.menu-btn {
  z-index: 3;
  right: 35px;
  top: 35px;
  cursor: pointer;
  transition: all 0.5s ease-out; }

.menu-btn .btn-line {
  width: 40px;
  height: 3px;
  margin: 0 0 5px 0;
  background: #000;
  transition: all 0.5s ease-out; }

.menu-btn.close {
  transform: rotate(180deg); }

.menu-btn.close .btn-line:nth-child(1) {
  transform: rotate(45deg) translate(5px, 5px); }

.menu-btn.close .btn-line:nth-child(2) {
  opacity: 0; }

.menu-btn.close .btn-line:nth-child(3) {
  transform: rotate(-45deg) translate(7px, -6px); }

.logo-mobile {
  display: none; }

@media screen and (max-width: 860px) {
  nav.nav-top {
    justify-content: flex-start;
    align-items: center;
    padding-left: 25px;
    z-index: 1; }
    nav.nav-top ul.navigation-menu {
      display: none; }
  nav .menu-btn {
    display: flex;
    flex-direction: column; }
  .logo-mobile {
    display: block; }
    .logo-mobile .logo {
      width: 7.2rem;
      height: 7.2rem;
      background-image: url("../../assets/KJ_logo.png");
      background-repeat: no-repeat;
      background-size: cover; } }

nav.nav-bottom {
  height: 75px;
  box-shadow: 0 -5px 12px 2px #999999; }

nav ul.footer-menu {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  list-style-type: none;
  width: fit-content;
  margin-top: 0;
  padding-left: 0; }
  nav ul.footer-menu li.footer-item {
    width: fit-content;
    height: fit-content;
    text-align: center; }
    nav ul.footer-menu li.footer-item.arrow-container {
      display: flex;
      justify-content: center; }
      nav ul.footer-menu li.footer-item.arrow-container:hover {
        animation-duration: 1500ms;
        animation-name: arrow-footer-animation;
        animation-iteration-count: infinite; }
    nav ul.footer-menu li.footer-item a {
      display: block;
      text-decoration: none;
      color: #000;
      text-shadow: 0px 3px 4px #555; }
      nav ul.footer-menu li.footer-item a.footer-arrow {
        width: 7rem;
        height: 5.5rem;
        background-image: url("../../assets/arrow-up.png");
        background-repeat: no-repeat;
        background-size: cover; }
    nav ul.footer-menu li.footer-item p {
      text-decoration: none;
      color: #000;
      text-shadow: 0px 3px 4px #555;
      margin: 0; }

@keyframes arrow-footer-animation {
  0% {
    transform: translateY(0); }
  50% {
    transform: translateY(-0.75rem); }
  100% {
    transform: translateY(0); } }

section#home-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  height: 100%;
  justify-content: space-evenly;
  animation-duration: 1500ms;
  animation-name: option-slide-in; }
  section#home-container .home-img-name-container {
    display: flex;
    flex-direction: column;
    align-items: center; }
    section#home-container .home-img-name-container .home-img {
      display: flex;
      background-image: url("../../assets/profile_4.png");
      cursor: pointer;
      background-size: cover;
      width: 32rem;
      height: 32rem;
      border-radius: 6px;
      transition: all 0.25s ease-out; }
      section#home-container .home-img-name-container .home-img:hover {
        animation-duration: 1500ms;
        animation-name: home-img-animation;
        animation-iteration-count: infinite; }
      section#home-container .home-img-name-container .home-img.incognito-img {
        transition: all 0.25s ease-out;
        background-image: url("../../assets/incognito_img.jpg");
        background-position-x: center; }
    section#home-container .home-img-name-container .home-name {
      display: flex;
      margin: 10px 0 20px 0;
      font-size: 4rem;
      line-height: 8rem;
      color: #f1ebe5;
      text-shadow: 0 10px 10px #000, 0 -2px 1px #000;
      letter-spacing: 0.5rem; }
    section#home-container .home-img-name-container .home-job {
      font-size: 3rem;
      line-height: 1rem;
      color: #f1ebe5;
      text-shadow: 0 10px 10px #000, 0 -2px 1px #000;
      letter-spacing: 0.3rem; }
  section#home-container .home-info {
    display: flex;
    flex-direction: column;
    color: #202020;
    letter-spacing: -2px;
    width: 32rem; }
    section#home-container .home-info span {
      display: flex;
      margin: 10px 0 20px 0;
      font-size: 8rem;
      line-height: 8rem;
      color: #f1ebe5;
      text-shadow: 0 10px 10px #000, 0 -2px 1px #fff;
      letter-spacing: -2px; }
      section#home-container .home-info span.toggle-item {
        text-shadow: 0 10px 10px #000, 0 -2px 1px #fff;
        border-bottom: dotted 6px #FFF; }
        section#home-container .home-info span.toggle-item:hover {
          cursor: pointer;
          transition-duration: 500ms;
          transform: translateY(-1rem); }
      section#home-container .home-info span.disable {
        display: none; }
      section#home-container .home-info span.nice, section#home-container .home-info span.unique, section#home-container .home-info span.simple {
        animation-duration: 1500ms;
        animation-name: toggle-item-animation; }

@keyframes option-slide-in {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

@keyframes toggle-item-animation {
  0% {
    opacity: 0;
    transform: skewX(-30deg) translateX(-6rem); }
  100% {
    opacity: 1;
    transform: skewX(0deg) translateX(0); } }

@keyframes hover-toggle-btn-animation {
  0% {
    transform: rotate(0deg); }
  100% {
    transform: rotate(360deg); } }

@keyframes home-img-animation {
  0% {
    transform: rotate(0); }
  50% {
    transform: rotate(-4deg); }
  100% {
    transform: rotate(0); } }

@media screen and (max-width: 860px) {
  section#home-container {
    flex-direction: column;
    overflow-y: auto;
    padding-top: 400px;
    padding-bottom: 60px; }
    section#home-container .home-img-name-container {
      margin-bottom: 60px; }
    section#home-container .home-info span {
      font-size: 6rem;
      line-height: 5rem; } }

@media screen and (max-width: 480px) {
  section#home-container .home-img-name-container {
    margin-top: -280px; }
    section#home-container .home-img-name-container .home-name {
      font-size: 3rem;
      line-height: 3rem;
      letter-spacing: 0; }
    section#home-container .home-img-name-container .home-job {
      font-size: 2rem;
      line-height: 1rem;
      letter-spacing: 0; }
  .home-img {
    transform: scale(0.7); }
    .home-img:hover {
      animation: none; }
  section#home-container .home-info {
    width: 16rem; }
    section#home-container .home-info span {
      font-size: 4rem;
      line-height: 2rem; } }

@media screen and (max-width: 360px) {
  section#home-container {
    overflow-x: hidden; }
  nav ul.footer-menu li.footer-item p {
    font-size: 1.5rem; } }

section#about-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: auto;
  height: calc(100vh - 75px);
  padding-top: 75px;
  overflow: hidden;
  animation-duration: 1500ms;
  animation-name: option-slide-in; }
  section#about-container .about-info {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center; }
    section#about-container .about-info .about-img, section#about-container .about-info .mobile-about-img {
      position: relative;
      width: 60rem;
      height: 30rem;
      margin-left: 2rem;
      margin-top: 2rem;
      background-image: url("../../assets/dev.jpg");
      background-repeat: no-repeat;
      background-size: cover;
      border: 2px solid #000;
      animation-duration: 1500ms;
      animation-name: img-about-main-animation; }
      section#about-container .about-info .about-img.front, section#about-container .about-info .mobile-about-img.front {
        background-image: url("../../assets/dev.jpg");
        animation-duration: 1500ms;
        animation-name: img-about-front-animation; }
      section#about-container .about-info .about-img.tennis-player, section#about-container .about-info .mobile-about-img.tennis-player {
        background-image: url("../../assets/tennis_player.jpg");
        animation-duration: 1500ms;
        animation-name: img-about-tennis-animation; }
      section#about-container .about-info .about-img.family, section#about-container .about-info .mobile-about-img.family {
        background-image: url("../../assets/family.jpg");
        animation-duration: 1500ms;
        animation-name: img-about-family-animation; }
    section#about-container .about-info .mobile-about-img {
      display: none; }
    section#about-container .about-info .about-note .details-container p.about-details-header {
      text-align: center;
      font-style: oblique;
      font-size: 3.6rem;
      text-shadow: #333333 1px 1px 2px;
      color: #000; }
    section#about-container .about-info .about-note .details-container p.about-details {
      text-align: center;
      font-size: 2.4rem;
      text-align: center;
      padding: 0 4rem;
      color: #f1ebe5;
      text-shadow: 0 10px 10px #000, 0 -2px 1px #000; }
  section#about-container .about-selection {
    display: flex;
    flex-direction: column;
    width: 100rem;
    justify-content: center; }
    section#about-container .about-selection .about-desc {
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      align-items: center;
      margin-top: 3rem;
      line-height: 80px;
      color: #000;
      font-weight: 600;
      text-shadow: #f5f5f5 0px 1px 5px; }
      section#about-container .about-selection .about-desc .active-txt {
        text-shadow: #f2f450 0px 1px 5px; }
      section#about-container .about-selection .about-desc .job-desc {
        font-size: 3rem; }
      section#about-container .about-selection .about-desc .hobby-desc, section#about-container .about-selection .about-desc .family-desc {
        font-size: 2rem; }
      section#about-container .about-selection .about-desc .job-desc, section#about-container .about-selection .about-desc .hobby-desc, section#about-container .about-selection .about-desc .family-desc {
        width: 32rem;
        text-align: center;
        cursor: pointer; }
        section#about-container .about-selection .about-desc .job-desc:hover, section#about-container .about-selection .about-desc .hobby-desc:hover, section#about-container .about-selection .about-desc .family-desc:hover {
          text-decoration: underline; }

@keyframes img-about-front-animation {
  0% {
    opacity: 0;
    left: -15rem; }
  100% {
    opacity: 1;
    left: 0; } }

@keyframes img-about-tennis-animation {
  0% {
    opacity: 0;
    left: -15rem; }
  100% {
    opacity: 1;
    left: 0; } }

@keyframes img-about-family-animation {
  0% {
    opacity: 0;
    left: -15rem; }
  100% {
    opacity: 1;
    left: 0; } }

@keyframes img-about-main-animation {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

@keyframes option-slide-in {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

@media screen and (max-width: 1280px) {
  section#about-container .about-info .about-note .details-container p.about-details {
    font-size: 2rem; } }

@media screen and (max-width: 1000px) {
  section#about-container {
    overflow-x: hidden;
    overflow-y: auto; }
    section#about-container .about-info {
      flex-direction: column; }
      section#about-container .about-info .about-img {
        display: none; }
      section#about-container .about-info .mobile-about-img {
        display: block;
        width: 70%;
        height: 20rem;
        cursor: pointer; }
        section#about-container .about-info .mobile-about-img.toggle-img {
          background-image: url("../../assets/tennisFamily.jpg"); }
  section#about-container .about-selection {
    display: none; }
  section#about-container .about-info .about-note .details-container p.about-details {
    color: #FFF; }
  section#about-container .about-info .about-note .details-container p.about-details-header {
    margin-top: 10px;
    margin-bottom: 10px; } }

section#skills-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: auto;
  height: calc(100vh - 75px);
  padding-top: 75px;
  animation-duration: 1500ms;
  animation-name: option-slide-in; }
  section#skills-container::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 0.6rem #c5796d;
    border-radius: 1rem;
    background-color: #F5F5F5; }
  section#skills-container::-webkit-scrollbar {
    width: 1.2rem;
    border-radius: 1rem;
    background-color: #F5F5F5; }
  section#skills-container::-webkit-scrollbar-thumb {
    border-radius: 1rem;
    -webkit-box-shadow: inset 0 0 0.6rem #c5796d;
    background-color: #c5796d; }
  section#skills-container .skills-info {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    margin-bottom: 2rem; }
    section#skills-container .skills-info p.skills-header {
      text-align: center;
      font-style: oblique;
      font-size: 3.6rem;
      text-shadow: #333333 1px 1px 2px;
      color: #000; }
  section#skills-container .skills-charts-container {
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center; }
    section#skills-container .skills-charts-container .job-skills-chart-container {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: center; }
      section#skills-container .skills-charts-container .job-skills-chart-container * {
        margin-bottom: 2rem; }

@keyframes option-slide-in {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

@media screen and (max-width: 480px) {
  section#skills-container {
    overflow-x: hidden; }
    section#skills-container .skills-info p.skills-header {
      font-size: 3rem; }
  canvas {
    transform: scale(0.8); } }

section#projects-container .projects-main-container .projects-grid-row-element-content.tennis-site, section#projects-container .projects-main-container .projects-grid-row-element-content.js-quiz, section#projects-container .projects-main-container .projects-grid-row-element-content.gulp-runner, section#projects-container .projects-main-container .projects-grid-row-element-content.clarity-validator {
  width: 100%;
  height: 160px;
  background-size: cover;
  box-shadow: 0 -5px 12px 2px #999999;
  margin: 0 auto; }

section#projects-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: auto;
  height: calc(100vh - 75px);
  width: 100%;
  padding-top: 75px;
  animation-duration: 1500ms;
  animation-name: option-slide-in; }
  section#projects-container .projects-info {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center; }
    section#projects-container .projects-info p.projects-header {
      text-align: center;
      font-style: oblique;
      font-size: 3.6rem;
      text-shadow: #333333 1px 1px 2px;
      color: #000;
      margin-bottom: 0; }
  section#projects-container .projects-main-container {
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    width: 100%; }
    section#projects-container .projects-main-container .projects-grid {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      width: 100%; }
      section#projects-container .projects-main-container .projects-grid-row {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        width: 100%; }
        section#projects-container .projects-main-container .projects-grid-row-element {
          cursor: pointer; }
          section#projects-container .projects-main-container .projects-grid-row-element:hover {
            transform: scale(1.1);
            transition: all 0.5s ease-out; }
          section#projects-container .projects-main-container .projects-grid-row-element-title {
            font-weight: 500;
            font-size: 2rem;
            text-shadow: #f5f5f5 0px 1px 5px;
            text-transform: uppercase;
            font-weight: 600;
            text-align: center; }
          section#projects-container .projects-main-container .projects-grid-row-element-content {
            display: flex;
            justify-content: center; }
            section#projects-container .projects-main-container .projects-grid-row-element-content.tennis-site {
              background-image: url("../../assets/tennis_site.png");
              width: 77%; }
            section#projects-container .projects-main-container .projects-grid-row-element-content.js-quiz {
              background-image: url("../../assets/js_quiz.png"); }
            section#projects-container .projects-main-container .projects-grid-row-element-content.gulp-runner {
              background-image: url("../../assets/gulp.png"); }
            section#projects-container .projects-main-container .projects-grid-row-element-content.clarity-validator {
              background-image: url("../../assets/clarity.png"); }

@media screen and (max-width: 860px) {
  section#projects-container .projects-main-container .projects-grid {
    padding-bottom: 5rem;
    padding-left: 4rem;
    padding-right: 4rem; }
    section#projects-container .projects-main-container .projects-grid-row {
      flex-direction: column;
      justify-content: space-evenly;
      width: auto; }
      section#projects-container .projects-main-container .projects-grid-row-element {
        transform: scale(0.9); }
        section#projects-container .projects-main-container .projects-grid-row-element-content.js-quiz {
          height: 170px; } }

@media screen and (max-width: 420px) {
  section#projects-container .projects-main-container .projects-grid-row-element-content.gulp-runner {
    height: 110px;
    background-size: cover; }
  section#projects-container .projects-main-container .projects-grid-row-element-content.tennis-site {
    height: 110px;
    background-size: cover; }
  section#projects-container .projects-main-container .projects-grid-row-element-content.js-quiz {
    height: 110px;
    background-size: cover; }
  section#projects-container .projects-main-container .projects-grid-row-element-content.clarity-validator {
    height: 110px;
    background-size: cover; } }

@keyframes option-slide-in {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

section#contact-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  animation-duration: 1500ms;
  animation-name: option-slide-in; }
  section#contact-container .contact-info {
    display: flex;
    flex-direction: column;
    justify-content: center; }
    section#contact-container .contact-info p.contact-header {
      text-align: center;
      font-style: oblique;
      font-size: 3.6rem;
      margin-top: 0;
      color: #000;
      text-shadow: 0 10px 10px #000, 0 -2px 1px #000; }
    section#contact-container .contact-info p.contact-text {
      text-align: center;
      font-weight: 500;
      font-size: 3rem;
      color: #f1ebe5;
      text-shadow: 0 10px 10px #000, 0 -2px 1px #000;
      text-align: center;
      padding: 0 4rem;
      margin-top: 0; }
    section#contact-container .contact-info .contact-icons-box {
      display: flex;
      justify-content: space-evenly;
      margin-top: 3rem; }
      section#contact-container .contact-info .contact-icons-box a .contact-icon {
        width: 4rem;
        height: 4rem; }
        section#contact-container .contact-info .contact-icons-box a .contact-icon.msg {
          background-image: url("../../assets/msg-icon.png");
          background-repeat: no-repeat;
          background-size: cover;
          box-shadow: #333333 1px 1px 2px; }
          section#contact-container .contact-info .contact-icons-box a .contact-icon.msg:hover {
            transform: translate(2px, 2px);
            cursor: pointer; }
        section#contact-container .contact-info .contact-icons-box a .contact-icon.fb {
          background-image: url("../../assets/fb-icon.png");
          background-repeat: no-repeat;
          background-size: cover;
          box-shadow: #333333 1px 1px 2px; }
          section#contact-container .contact-info .contact-icons-box a .contact-icon.fb:hover {
            transform: translate(2px, 2px);
            cursor: pointer; }
        section#contact-container .contact-info .contact-icons-box a .contact-icon.linkedin {
          background-image: url("../../assets/linkedin-icon.png");
          background-repeat: no-repeat;
          background-size: cover;
          box-shadow: #333333 1px 1px 2px; }
          section#contact-container .contact-info .contact-icons-box a .contact-icon.linkedin:hover {
            transform: translate(2px, 2px);
            cursor: pointer; }
        section#contact-container .contact-info .contact-icons-box a .contact-icon.gh {
          background-image: url("../../assets/github-icon.png");
          background-repeat: no-repeat;
          background-size: cover;
          box-shadow: #333333 1px 1px 2px; }
          section#contact-container .contact-info .contact-icons-box a .contact-icon.gh:hover {
            transform: translate(2px, 2px);
            cursor: pointer; }

@keyframes option-slide-in {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

@media screen and (max-width: 480px) {
  section#contact-container .contact-info p.contact-text {
    font-size: 2rem; } }
