html {
  font-size: 10px; }

html, body {
  margin: 0;
  padding: 0; }

body {
  overflow: hidden;
  font-family: Nunito, "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 2rem;
  color: #000;
  min-height: 100vh; }

*,
*:before,
*:after {
  box-sizing: border-box;
  font-family: Nunito, "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #000; }

footer, header {
  height: 10vh; }

#main-background {
  display: block;
  position: absolute;
  width: 192rem;
  height: 80vh;
  background-image: url("../assets/tennis.jpg"), -webkit-linear-gradient(-180deg, #000000 0%, #1E1E1E 100%);
  background-image: url("../assets/tennis.jpg"), -moz-linear-gradient(-180deg, #000000 0%, #1E1E1E 100%);
  background-image: url("../assets/tennis.jpg"), linear-gradient(-180deg, #000000 0%, #1E1E1E 100%);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 0px 0px;
  opacity: 0.7;
  z-index: -1; }

#main-content {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80vh;
  box-sizing: border-box; }
  #main-content #main-content-page {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70vh;
    width: 192rem;
    box-sizing: border-box;
    font-size: 2.2rem; }

nav {
  display: flex;
  justify-content: center;
  background: linear-gradient(to right, #e2e2e2, #999999);
  height: 10vh; }
  nav.nav-top {
    box-shadow: 0 5px 12px 2px #999999; }
  nav ul.navigation-menu {
    display: flex;
    flex-direction: row;
    align-items: center;
    list-style-type: none;
    width: fit-content; }
    nav ul.navigation-menu li.nav-menu-item {
      width: 15rem;
      height: fit-content;
      text-align: center;
      transition-duration: 1s; }
      nav ul.navigation-menu li.nav-menu-item:hover {
        transform: scale(1.25) rotate(-4deg); }
      nav ul.navigation-menu li.nav-menu-item.logo-container {
        display: flex;
        justify-content: center; }
        nav ul.navigation-menu li.nav-menu-item.logo-container:hover {
          transform: scale(1.15); }
      nav ul.navigation-menu li.nav-menu-item a {
        text-decoration: none;
        color: #000;
        text-shadow: 0px 3px 4px #555; }
        nav ul.navigation-menu li.nav-menu-item a.logo {
          width: 7.2rem;
          height: 7.2rem;
          background-image: url("../../assets/KJ_logo.png");
          background-repeat: no-repeat;
          background-size: cover; }

nav {
  height: 10vh; }
  nav.nav-bottom {
    box-shadow: 0 -5px 12px 2px #999999; }
  nav ul.footer-menu {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    list-style-type: none;
    width: fit-content;
    margin-top: 0; }
    nav ul.footer-menu li.footer-item {
      width: 250px;
      height: fit-content;
      text-align: center; }
      nav ul.footer-menu li.footer-item.arrow-container {
        display: flex;
        justify-content: center; }
        nav ul.footer-menu li.footer-item.arrow-container:hover {
          animation-duration: 1500ms;
          animation-name: arrow-footer-animation;
          animation-iteration-count: infinite; }
      nav ul.footer-menu li.footer-item a {
        display: block;
        text-decoration: none;
        color: #000;
        text-shadow: 0px 3px 4px #555; }
        nav ul.footer-menu li.footer-item a.footer-arrow {
          width: 7rem;
          height: 5.5rem;
          background-image: url("../../assets/arrow-up.png");
          background-repeat: no-repeat;
          background-size: cover; }
      nav ul.footer-menu li.footer-item p {
        text-decoration: none;
        color: #000;
        text-shadow: 0px 3px 4px #555;
        margin: 0; }

@keyframes arrow-footer-animation {
  0% {
    transform: translateY(0); }
  50% {
    transform: translateY(-0.75rem); }
  100% {
    transform: translateY(0); } }

section#home-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 120rem;
  height: 60rem;
  justify-content: space-around;
  animation-duration: 1500ms;
  animation-name: option-slide-in; }
  section#home-container .home-img-name-container {
    display: flex;
    flex-direction: column;
    align-items: center; }
    section#home-container .home-img-name-container .home-img {
      display: flex;
      background-image: url("../../assets/incognito.jpg");
      background-size: cover;
      width: 44rem;
      height: 32rem;
      border-radius: 6px; }
      section#home-container .home-img-name-container .home-img:hover {
        animation-duration: 1500ms;
        animation-name: home-img-animation;
        animation-iteration-count: infinite; }
    section#home-container .home-img-name-container .home-name {
      display: flex;
      margin: 10px 0 20px 0;
      font-size: 4rem;
      line-height: 8rem;
      color: #f1ebe5;
      text-shadow: 0 10px 10px #000, 0 -2px 1px #fff;
      letter-spacing: 0.5rem; }
    section#home-container .home-img-name-container .home-job {
      font-size: 3rem;
      line-height: 1rem;
      color: #f1ebe5;
      text-shadow: 0 10px 10px #000;
      letter-spacing: 0.3rem; }
  section#home-container .home-info {
    display: flex;
    flex-direction: column;
    color: #202020;
    letter-spacing: -2px;
    width: 32rem; }
    section#home-container .home-info span {
      display: flex;
      margin: 10px 0 20px 0;
      font-size: 8rem;
      line-height: 8rem;
      color: #f1ebe5;
      text-shadow: 0 10px 10px #000, 0 -2px 1px #fff;
      letter-spacing: -2px; }
      section#home-container .home-info span.toggle-item {
        text-shadow: 0 10px 10px #e69122, 0 -2px 1px #fff;
        border-bottom: dotted 6px #FFF; }
        section#home-container .home-info span.toggle-item:hover {
          cursor: pointer;
          transition-duration: 500ms;
          transform: translateY(-1rem); }
      section#home-container .home-info span.disable {
        display: none; }
      section#home-container .home-info span.nice, section#home-container .home-info span.unique, section#home-container .home-info span.simple {
        animation-duration: 1500ms;
        animation-name: toggle-item-animation; }

@keyframes option-slide-in {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

@keyframes toggle-item-animation {
  0% {
    opacity: 0;
    transform: skewX(-30deg) translateX(-6rem); }
  100% {
    opacity: 1;
    transform: skewX(0deg) translateX(0); } }

@keyframes hover-toggle-btn-animation {
  0% {
    transform: rotate(0deg); }
  100% {
    transform: rotate(360deg); } }

@keyframes home-img-animation {
  0% {
    transform: rotate(0); }
  50% {
    transform: rotate(-4deg); }
  100% {
    transform: rotate(0); } }

section#about-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  animation-duration: 1500ms;
  animation-name: option-slide-in; }
  section#about-container .about-info {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center; }
    section#about-container .about-info .about-img {
      position: relative;
      width: 60rem;
      height: 30rem;
      margin-left: 2rem;
      background-image: url("../../assets/dev.jpg");
      background-repeat: no-repeat;
      background-size: cover;
      border: 2px solid #000;
      animation-duration: 1500ms;
      animation-name: img-about-main-animation; }
      section#about-container .about-info .about-img.front {
        background-image: url("../../assets/dev.jpg");
        animation-duration: 1500ms;
        animation-name: img-about-front-animation; }
      section#about-container .about-info .about-img.tennis-player {
        background-image: url("../../assets/tennis_player.jpg");
        animation-duration: 1500ms;
        animation-name: img-about-tennis-animation; }
      section#about-container .about-info .about-img.family {
        background-image: url("../../assets/family.jpg");
        animation-duration: 1500ms;
        animation-name: img-about-family-animation; }
    section#about-container .about-info .about-note .details-container p.about-details-header {
      text-align: center;
      font-style: oblique;
      font-size: 3.6rem;
      text-shadow: #333333 1px 1px 2px;
      color: #000; }
    section#about-container .about-info .about-note .details-container p.about-details {
      text-align: center;
      font-size: 2.4rem;
      text-align: center;
      padding: 0 4rem;
      text-shadow: #aaaaaa -1px 2px 1px; }
  section#about-container .about-selection {
    display: flex;
    flex-direction: column;
    width: 100rem;
    justify-content: center; }
    section#about-container .about-selection .about-desc {
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      align-items: center;
      margin-top: 3rem;
      line-height: 80px;
      color: #000;
      font-weight: 600;
      text-shadow: #f5f5f5 0px 1px 5px; }
      section#about-container .about-selection .about-desc .active-txt {
        text-shadow: #f2f450 0px 1px 5px; }
      section#about-container .about-selection .about-desc .job-desc {
        font-size: 3rem; }
      section#about-container .about-selection .about-desc .hobby-desc, section#about-container .about-selection .about-desc .family-desc {
        font-size: 2rem; }
      section#about-container .about-selection .about-desc .job-desc, section#about-container .about-selection .about-desc .hobby-desc, section#about-container .about-selection .about-desc .family-desc {
        width: 32rem;
        text-align: center;
        cursor: pointer; }

@keyframes img-about-front-animation {
  0% {
    opacity: 0;
    left: -15rem; }
  100% {
    opacity: 1;
    left: 0; } }

@keyframes img-about-tennis-animation {
  0% {
    opacity: 0;
    left: -15rem; }
  100% {
    opacity: 1;
    left: 0; } }

@keyframes img-about-family-animation {
  0% {
    opacity: 0;
    left: -15rem; }
  100% {
    opacity: 1;
    left: 0; } }

@keyframes img-about-main-animation {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

@keyframes option-slide-in {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

section#skills-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: auto;
  animation-duration: 1500ms;
  animation-name: option-slide-in; }
  section#skills-container::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 0.6rem #c5796d;
    border-radius: 1rem;
    background-color: #F5F5F5; }
  section#skills-container::-webkit-scrollbar {
    width: 1.2rem;
    border-radius: 1rem;
    background-color: #F5F5F5; }
  section#skills-container::-webkit-scrollbar-thumb {
    border-radius: 1rem;
    -webkit-box-shadow: inset 0 0 0.6rem #c5796d;
    background-color: #c5796d; }
  section#skills-container .skills-info {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    margin-bottom: 2rem; }
    section#skills-container .skills-info p.skills-header {
      text-align: center;
      font-style: oblique;
      font-size: 3.6rem;
      text-shadow: #333333 1px 1px 2px;
      color: #000; }
  section#skills-container .skills-charts-container {
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    height: 30vw; }
    section#skills-container .skills-charts-container .job-skills-chart-container {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: center; }
      section#skills-container .skills-charts-container .job-skills-chart-container * {
        margin-bottom: 2rem; }

@keyframes option-slide-in {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

section#projects-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  animation-duration: 1500ms;
  animation-name: option-slide-in; }

@keyframes option-slide-in {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

section#contact-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  animation-duration: 1500ms;
  animation-name: option-slide-in; }
  section#contact-container .contact-info {
    display: flex;
    flex-direction: column;
    justify-content: center; }
    section#contact-container .contact-info p.contact-header {
      text-align: center;
      font-style: oblique;
      font-size: 3.6rem;
      text-shadow: #333333 1px 1px 2px;
      color: #000;
      margin-top: 0; }
    section#contact-container .contact-info p.contact-text {
      text-align: center;
      font-weight: 500;
      font-size: 3rem;
      text-shadow: #333333 1px 1px 2px;
      text-align: center;
      padding: 0 4rem;
      margin-top: 0; }
    section#contact-container .contact-info .contact-icons-box {
      display: flex;
      justify-content: space-evenly;
      margin-top: 3rem; }
      section#contact-container .contact-info .contact-icons-box .contact-icon {
        width: 4rem;
        height: 4rem; }
        section#contact-container .contact-info .contact-icons-box .contact-icon:nth-of-type(1) {
          background-image: url("../../assets/msg-icon.png");
          background-repeat: no-repeat;
          background-size: cover;
          box-shadow: #333333 1px 1px 2px; }
          section#contact-container .contact-info .contact-icons-box .contact-icon:nth-of-type(1):hover {
            transform: translate(2px, 2px);
            cursor: pointer; }
        section#contact-container .contact-info .contact-icons-box .contact-icon:nth-of-type(2) {
          background-image: url("../../assets/fb-icon.png");
          background-repeat: no-repeat;
          background-size: cover;
          box-shadow: #333333 1px 1px 2px; }
          section#contact-container .contact-info .contact-icons-box .contact-icon:nth-of-type(2):hover {
            transform: translate(2px, 2px);
            cursor: pointer; }
        section#contact-container .contact-info .contact-icons-box .contact-icon:nth-of-type(3) {
          background-image: url("../../assets/linkedin-icon.png");
          background-repeat: no-repeat;
          background-size: cover;
          box-shadow: #333333 1px 1px 2px; }
          section#contact-container .contact-info .contact-icons-box .contact-icon:nth-of-type(3):hover {
            transform: translate(2px, 2px);
            cursor: pointer; }
        section#contact-container .contact-info .contact-icons-box .contact-icon:nth-of-type(4) {
          background-image: url("../../assets/github-icon.png");
          background-repeat: no-repeat;
          background-size: cover;
          box-shadow: #333333 1px 1px 2px; }
          section#contact-container .contact-info .contact-icons-box .contact-icon:nth-of-type(4):hover {
            transform: translate(2px, 2px);
            cursor: pointer; }

@keyframes option-slide-in {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }
