<section id="home-container">
    <div class="home-img-name-container">
        <div class="home-img">
        </div>
        <span class="home-name">
            Krzysztof Janosz
        </span>
        <span class="home-job">
            &ltFront-End Dev.&gt
        </span>
    </div>
    <div class="home-info">
        <span>Make</span>
        <span>things</span>
        <span class="toggle-item nice">nice ></span>
        <span class="toggle-item unique disable">unique ></span>
        <span class="toggle-item simple disable">simple ></span>
    </div>
</section>
<script src="./views/home/home.js"></script>